.seccion
    .espacio
        #carouselExampleAutoplaying.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100.carousel-responsive(src='images/carousel/noticia1.png' alt='...')
                .carousel-item
                    img.d-block.w-100.carousel-responsive(src='images/carousel/noticia2.png' alt='...')
                .carousel-item
                    img.d-block.w-100.carousel-responsive(src='images/carousel/noticia3.png' alt='...')
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
