.actualizar
    br
    form(action="/menu/usuarios/registrar/", method="post") <!-registro
        label(for="ciudad") Ciudad 
        input(type="text" name="ciudad" placeholder="Ciudad" required)
        br
        label(for="colonia") Colonia 
        input(type="text" name="colonia" placeholder="Colonia" required)
        br
        label(for="cp") Codigo Postal 
        input(type="text" name="cp" placeholder="Codigo Postal" required)
        br
        label(for="calle1") Nombre de calle 
        input(type="text" name="calle1" placeholder="calle1" required)
        br
        label(for="calle2") Nombre de calle 
        input(type="text" name="calle2" placeholder="calle2" required)
        br
        label(for="referencia") Referencia 
        input(type="text" name="referencia"  placeholder="referencia")
        br


        label(for="nombre") Nombre 
        input(type="text" name="nombre" placeholder="Nombre")
        br
        label(for="app_mat") Apellido Materno 
        input(type="text" name="app_mat" placeholder="Apellido materno")
        br
        label(for="app_pat") Apellido Paterno 
        input(type="text" name="app_pat", placeholder="Apellido paterno")
        br
        label(for="fnac") Fechad de nacimiento 
        input(type="date" name="fnac", placeholder="Fecha de nacimiento")
        br
        label(for="seguro_social") Numero de Seguro Social 
        input(type="text" name="seguro_social" placeholder="Seguro social" autocomplete="current-password")
        br
        label(for="password") Contraseña 
        input(type="password" name="password" placeholder="Password" autocomplete="current-password")
        br
        label(for="telefono") Telefono 
        input(type="text" name="telefono"  placeholder="Teléfono")
        br
        label(for="correo") Correo 
        input(type="email" name="correo" placeholder="Correo electrónico")
        br
        select(id="generos" name="genero")
            option(value="1") Hombre
            option(value="2") Mujer
        br
        select(id="perfiles" name="perfil")
            option(value="1") Alumno
            option(value="2") Maestro
            option(value="3") Personal
        br
        div(id="datosRegistroAlumno" style="display: none;")
            h3 Datos Alumno
            label(for="grupo")
            select(name="grupos")
                each val,key in datosGrupos
                    option(value=val['id_grupo'])=(val['grado']+' '+val['grupo']+' '+val['carrera'])
            br
            label(for="matricula") Matricula 
            input(type="text" name="matricula")

        div(id="datosRegistroMaestro" style="display: none;")
            h3 Datos Maestro
            label(for="cedula") Cedula
            input(type="text" name="cedula")
            br
            label(for="AniosExp") Años de Experiencia 
            input(type="number", name="AniosExp")
            br
            label(for="especialidad") Especialidad
            input(type="text" name="especialidad")
        br
        br
        input(type="submit", value="Registrar")