.dashboard
    .d-flex
        .card.mb-3.m-2(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src='/images/cicloEscolarIcon.png' alt='...')
                .col-md-8
                    .card-body
                        h5.card-title Ciclo Escolar
                        p.card-text
                        | 2023 - 2024
                        p.card-text
                            small.text-body-secondary Actualizado desde 07/11/2023 11:00:01

        .card.mb-3.m-2(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src='/images/personaIcon.png' alt='...')
                .col-md-8
                    .card-body
                        h5.card-title Estudiantes
                        p.card-text
                        | 2
                        p.card-text
                            small.text-body-secondary Actualizado desde 07/11/2023 11:00:01
        .card.mb-3.m-2(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src='/images/carrerasIcon.png' alt='...')
                .col-md-8
                    .card-body
                        h5.card-title Cursos
                        p.card-text
                        | 2
                        p.card-text
                            small.text-body-secondary Actualizado desde 07/11/2023 11:00:01
        .card.mb-3.m-2(style='max-width: 540px;')
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src='/images/institutoIcon.png' alt='...')
                .col-md-8
                    .card-body
                        h5.card-title Departamentos
                        p.card-text
                        | 2
                        p.card-text
                            small.text-body-secondary Actualizado desde 07/11/2023 11:00:01
